//colors
$white: #fff;
$bg_color: #b1b1b1;
$box_color: #c5c5c5;
$top-bar_color: #dfdfdf;
$black: #000;
$font_color: #222;
$box-shadow-10_color: rgba(0, 0, 0, 0.1);
$box-shadow-20_color: rgba(0, 0, 0, 0.2);
$box-shadow-40_color: rgba(0, 0, 0, 0.4);
$box-shadow-50_color: rgba(0, 0, 0, 0.5);
$box-shadow-60_color: rgba(0, 0, 0, 0.6);
$box-shadow-80_color: rgba(0, 0, 0, 0.8);

//height values
$top-bar_height: 40px;

//general values
$border-radius: 15px;
$box-padding: 20px;
$sub-box-padding: 15px;
$border-radius-items: $border-radius / 1.5;