// Colors
$bg_color: #b1b1b1;
$box_color: #c5c5c5;
$top-bar_color: #f7f7f7;
$font_color: #222;
$black_color: #000;
$white_color: #fff;
$lightergray_color: #e7e7e7;
$lightgray_color: #d2d2d2;
$gray_color: #808080;
$red-weekend_color: #ff4574;
$brown_color: #9c7267;
$yellow-note_color: #f6e385;
$amber_color: #dda601;
$dark-gray_color: #444;
$blue_color: #007bff;
$green_color: #1db954;

$test: #5bffd6;

//black and white shades transparancy
$white-transparent: (
  "10": rgba(255, 255, 255, 0.1),
  "20": rgba(255, 255, 255, 0.2),
  "30": rgba(255, 255, 255, 0.3),
  "40": rgba(255, 255, 255, 0.4),
  "50": rgba(255, 255, 255, 0.5),
  "60": rgba(255, 255, 255, 0.6),
  "70": rgba(255, 255, 255, 0.7),
  "80": rgba(255, 255, 255, 0.8),
  "90": rgba(255, 255, 255, 0.9),
);

$black-transparent: (
  "10": rgba(0, 0, 0, 0.1),
  "20": rgba(0, 0, 0, 0.2),
  "30": rgba(0, 0, 0, 0.3),
  "40": rgba(0, 0, 0, 0.4),
  "50": rgba(0, 0, 0, 0.5),
  "60": rgba(0, 0, 0, 0.6),
  "70": rgba(0, 0, 0, 0.7),
  "80": rgba(0, 0, 0, 0.8),
  "90": rgba(0, 0, 0, 0.9),
);

// Height values
$top-bar_height: 40px;

// General values
$border-radius: 15px;
$box-padding: 20px;
$border-radius-items: calc($border-radius / 1.5);
