@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "variables";

@mixin flex-center($direction, $gap, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: $bg_color;
    color: $font_color;
    height: 100vh;
    @include flex-center(row, 0, center);
}


.box {
    display: grid;
    place-items: center;
    place-items: center;
    grid-template-columns: repeat(6, 1fr) $box-padding repeat(5, 1fr);
    grid-template-rows: $top-bar-height $box-padding repeat(4, 1fr) $box-padding repeat(2, 1fr) 0.5fr $box-padding repeat(3, 1fr);
    background-color: $box_color;
    border-radius: $border-radius;
    box-shadow: 5px 15px 20px $box-shadow-20_color;
    height: 90vh;
    aspect-ratio: 1;
    overflow: hidden;
    padding: 0 $box-padding $box-padding $box-padding;
    .white-top-bar {
        background-color: $top-bar_color;
        height: $top-bar-height;
        width: calc(100% + 2 * $box-padding);
        grid-column: span 13;
    }
}

.container {
    width: 100%;
    height: 100%;
}

.theme-wrapper {
    grid-area: 3 / 1 / 7 / 7; // row-start / column-start / row-end / column-end
    @include flex-center(row, $box-padding, space-between);
    .image-slider {
        height: 100%;
        width: 60%;
        background: linear-gradient(45deg, blue, orange);
    }
    .theme-selector {
        height: 100%;
        width: 40%;
        background-color: lightgray;
    }
}

.weather-calender-wrapper {
    grid-area: 3 / 8 / 11 / 13;
    @include flex-center(column, $box-padding, space-between);
    padding-bottom: $box-padding;
    .weather {
        height: 55%;
        width: 100%;
        background-color: black;
    }
    .calendar {
        height: 45%;
        width: 100%;
        background-color: lightgray;
    }
}

.todo-wrapper {
    grid-area: 8 / 1 / 11 / 7;
    @include flex-center(row, $box-padding, space-between);
    .pinned-task-one {
        aspect-ratio: 1;
        width: 33%;
        background-color: black;
    }
    .pinned-task-two {
        aspect-ratio: 1;
        width: 33%;
        background-color: lightgray;
    }
    .to-do-list {
        aspect-ratio: 1;
        width: 33%;
        background-color: black;
    }
}

.bottom-wrapper {
    grid-area: 12 / 1 / 15 / 13;
    @include flex-center(row, 0, space-between);
    display: grid;
    grid-template-columns: 20% 15% 35% 1fr; // Define specific widths for the first three items and let the last one take the remaining space
    gap: $box-padding;

    .agenda, .volume-sub-wrapper, .notes, .music-player {
        height: 100%;
    }

    .agenda {
        background-color: black;
    }

    .volume-sub-wrapper {
        background-color: lightgray;
        @include flex-center(column, $box-padding, space-between);
    }

    .notes {
        background-color: lightgoldenrodyellow;
        padding: $sub-box-padding;
        position: relative;
        .rings {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            @include flex-center(row, 0, space-between);
            * {
                background: linear-gradient(90deg, #e7e7e7 47%, lightgray 53%);
                width: 0.6rem;
                height: 1.7rem;
                border-radius: 10px;
                border-bottom: 2px solid gray;
                box-shadow: 0 1px 5px $box-shadow-20_color;
            }
        }
    }

    .music-player {
        background-color: lightgray;
    }
}

.item-box {
    border-radius: $border-radius-items;
}