.bottom-wrapper {
    grid-area: 12 / 1 / 15 / 13;
    @include flex-center(row, 0, space-between);
    display: grid;
    grid-template-columns: 35% 35% 1fr;
    gap: $box-padding;

    .agenda, .volume-sub-wrapper, .notes, .music-player {
        height: 100%;
    }

    .agenda {
        background-color: $dark-gray_color;
        padding: 15px;
        color: $top-bar_color;
        overflow: auto;
        
        h3 {
            margin-bottom: 10px;
        }

        &::-webkit-scrollbar {
            width: 0px; /* Adjust the width of the scrollbar */
        }
    
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
    }

    .volume-sub-wrapper {
        background-color: lightgray; //placeholder
        @include flex-center(column, $box-padding, space-between);
    }

    .notes {
        background-color: $yellow-note_color; // placeholder
        padding: 15px;
        color: $font_color;
        position: relative;
        overflow: auto;

        h2 {
            font-size: 1.3rem;
            color: #333;
        }

        .notes-input {
            @include flex-center(row, 1rem, center);
            margin-bottom: 10px;

            textarea {
                width: auto;
                padding: 5px;
                height: 30px;
                resize: none;
                font-size: 0.9rem;
                overflow: hidden;
                border: none;
                border-radius: 3px;
                outline: none;
                background: lighten($yellow-note_color, 10%);
            }

            button {
                padding: 5px;
                height: 30px;
                width: 30px;
                background-color: $amber_color;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
                transition: background-color 0.3s;

                i {
                    font-size: 0.9rem;
                }

                &:hover {
                    background-color: darken($amber_color, 10%);
                }
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column-reverse;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                border-bottom: 1px solid $amber_color; /* Border bottom with dark yellow color */
                margin-bottom: 5px;
                font-size: 0.95rem;
                background-color: transparent; /* No background color */
                white-space: normal; /* Allow text to wrap */
                word-break: break-word; /* Break long words */
                hyphens: auto; /* Enable hyphenation */

                button {
                    background: none;
                    border: none;
                    color: $amber_color; /* Dark yellow color for delete icon */
                    cursor: pointer;
                    font-size: 1rem;
                    transition: color 0.2s;

                    i {
                        font-size: 1rem;
                    }

                    &:hover {
                        color: darken($amber_color, 10%);
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            width: 0px; /* Adjust the width of the scrollbar */
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
    }

    .music-player {
        background-color: lightgray; //placeholder
    }
}