* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-color: $bg_color;
    color: $font_color;
    height: 100vh;
    @include flex-center(row, 0, center);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr) $box-padding repeat(5, 1fr);
    grid-template-rows: $top-bar-height $box-padding repeat(4, 1fr) $box-padding repeat(2, 1fr) 0.5fr $box-padding repeat(3, 1fr);
    background-color: map-get($white-transparent, "60");
    border-radius: $border-radius;
    @include box-shadow("20", 10px, 5px, 15px, 0);
    height: 90vh;
    aspect-ratio: 1;
    overflow: hidden;
    padding: 0 $box-padding $box-padding $box-padding;
    .white-top-bar {
        background-color: $top-bar_color;
        height: $top-bar-height;
        width: calc(100% + 2 * $box-padding);
        grid-column: span 13;
    }
}

.container {
    width: 100%;
    height: 100%;
}

.item-box {
    border-radius: $border-radius-items;
    @include box-shadow("20", 5px, 5px, 10px, 0);
}