.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($black_color, 0.4);

    .modal-content {
        background-color: $top-bar_color;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid $gray_color;
        width: 80%;
        max-width: 500px;
        border-radius: 10px;
        position: relative;

        .close {
            color: $lightgray_color;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: $black_color;
                text-decoration: none;
                cursor: pointer;
            }
        }

        h2 {
            margin-top: 0;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 5px;
            }

            input[type="text"],
            select {
                margin-bottom: 10px;
                padding: 5px;
                font-size: 1rem;
                border: 1px solid $lightgray_color;
                border-radius: 5px;
            }

            select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: none;
                padding: 0 10px;
                height: 30px;
                width: 100%;
                border: 1px solid $lightgray_color;
                border-radius: 5px;
                cursor: pointer;
                position: relative;

                option {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            button {
                padding: 10px;
                background-color: $blue_color;
                color: $white_color;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($blue_color, 10%);
                }
            }
        }
    }
}

.agenda-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: map-get($black-transparent, "20");

    .delete-event {
        background: none;
        border: none;
        color: $blue_color;
        cursor: pointer;
        font-size: 0.9rem;
        margin-left: 5px;
    }

    .delete-event:hover {
        text-decoration: underline;
    }

    i {
        color: $blue_color;
    }
}