.theme-wrapper {
    grid-area: 3 / 1 / 7 / 7; // row-start / column-start / row-end / column-end
    @include flex-center(row, $box-padding, space-between);
    .image-slider {
        height: 100%;
        width: 60%;
        position: relative;
        overflow: hidden;
        .swiper-slide {
            @include flex-center(row, 0, center);
            img {
                object-fit: cover;
                width: 100%;
                height: auto;
                border-radius: $border-radius-items;
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            color: map-get($white-transparent, "80");
            width: 25px;
            height: 35px;
            border-radius: 5px;
            font-size: 1.2rem;
            background-color: map-get($black-transparent, "50");
            @include flex-center(row, 0, center);
            &:after {
                content: '';
                @include absolute(50%, 50%);
            }
        }

        .swiper-button-next {
            right: 10px;
        }

        .swiper-button-prev {
            left: 10px;
        }

        .swiper-pagination {
            bottom: 10px;
            .swiper-pagination-bullet {
                background-color: map-get($white-transparent, "70");
                opacity: 1;
                width: 6px;
                height: 6px;
                &.swiper-pagination-bullet-active {
                    background-color: map-get($black-transparent, "60");
                }
            }
        }
    }

    .theme-selector {
        height: 100%;
        width: 40%;
        background-color: $gray_color; // Updated background color
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
        .color-picker-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            width: 100%;
    
            label {
                margin-bottom: 10px;
                font-size: 1rem;
                color: #333;
            }
    
            .custom-color-picker {
                display: flex;
                align-items: center;
                width: 100%;
    
                input[type="color"] {
                    display: none;
                }
    
                .color-display {
                    width: 50px;
                    height: 30px;
                    border-radius: 5px;
                    border: 2px solid $lightgray_color;
                    cursor: pointer;
                    transition: border-color 0.3s, transform 0.3s;
                    position: relative;
    
                    &:hover {
                        border-color: #aaa;
                        transform: scale(1.05);
                    }
    
                    &:focus {
                        outline: none;
                        border-color: #666;
                    }
                }
            }
        }
    }
}